{% extends "base.html" %}

{% block app_content %}
    <h1>Egyptian Calendar Conversion (Ptolemies)</h1>
    <p>All calculations are based on the tables in Skeat, Reigns of the Ptolemies (1969), Pestman, Chronologie égyptienne d'après les textes démotiques (1967) and Pestman, Les papyrus démotiques de Tsenhor (1994).
        The system expects that the user knows what (s)he's doing; ahistoric entries will result in mathematically correct but otherwise rather useless dates. Not specifying a day will result in calculation of both the first and last day of the given month.</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p id="reign">
            {{ form.ptolemaic_pharaos.label }}<br>
            {{ form.ptolemaic_pharaos(style='width:30em;') }}
        </p>
        <p id="year">
            {{ form.year.label }}<br>
            {{ form.year(size=10) }}
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.egyptian_calendar_months.label }}<br>
            {{ form.egyptian_calendar_months(style='width:15em;') }}
        </p>
        <p>
            {{ form.day.label }}<br>
            {{ form.day(size=10) }}
            {% for error in form.day.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='btn btn-godot btn-sm', type="submit") }} {{ form.reset(class='btn btn-godot-reset btn-sm', type="reset") }}</p>
        <p>&nbsp;</p>
    </form>
{% endblock %}
