{% extends "base.html" %}

{% block app_content %}
    <h1>Cyrenaica: Single Year Date</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.year_reference_system.label }}<br>
            {{ form.year_reference_system(style='width:15em;', **{'onChange':'changeYrs()'}) }}
        </p>
        <p id="apollo_priest" style="display:none">
            {{ form.apollo_priests_cyrenaica.label }}<br>
            {{ form.apollo_priests_cyrenaica(style='width:30em;') }}
        </p>
        <p id="roman_emperor" style="display:none">
            {{ form.roman_emperors.label }}<br>
            {{ form.roman_emperors(style='width:30em;') }}
        </p>
        <p id="year_number" style="display:none">
            {{ form.year.label }}<br>
            {{ form.year(size=10) }}
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.egyptian_calendar_months.label }}<br>
            {{ form.egyptian_calendar_months(style='width:15em;') }}
        </p>
        <p>
            {{ form.day.label }}<br>
            {{ form.day(size=10) }}
            {% for error in form.day.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_category.label }}<br>
            {{ form.date_category(style='width:15em;') }}
        </p>
        <p>
            {{ form.attestation_uri.label }}<br>
            {{ form.attestation_uri(size=50, style='width:30em;') }}
            {% for error in form.attestation_uri.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=50, style='width:30em;') }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_string.label }}<br>
            {{ form.date_string(size=50, style="margin-bottom:1.5em; width:30em") }}
            {% for error in form.date_string.errors %} 
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='btn btn-godot btn-sm', type="submit") }} {{ form.reset(class='btn btn-godot-reset btn-sm', type="reset") }}</p>
        <p>&nbsp;</p>
    </form>
    <script>
        function changeYrs(){
            var e = document.getElementById("year_reference_system")
            var value = e.options[e.selectedIndex].value;
            var yrs = e.options[e.selectedIndex].text;
            if (yrs == "Year of Unknown System"){
                document.getElementById("year_number").style.display="block"
                document.getElementById("apollo_priest").style.display="none"
                document.getElementById("roman_emperor").style.display="none"
            } else if (yrs == "Actian Era Year"){
                document.getElementById("year_number").style.display="block"
                document.getElementById("apollo_priest").style.display="none"
                document.getElementById("roman_emperor").style.display="none"
            } else if (yrs == "Eponymous Apollo Priest"){
                document.getElementById("year_number").style.display="none"
                document.getElementById("apollo_priest").style.display="block"
                document.getElementById("roman_emperor").style.display="none"
            } else if (yrs == "Regnal Year (Roman Emperor)"){
                document.getElementById("year_number").style.display="block"
                document.getElementById("apollo_priest").style.display="none"
                document.getElementById("roman_emperor").style.display="block"
            } if (yrs == "None"){
                document.getElementById("year_number").style.display="none"
                document.getElementById("apollo_priest").style.display="none"
                document.getElementById("roman_emperor").style.display="none"
            }
        }
    </script>
{% endblock %}
