{% extends "base.html" %}
{% block app_content %}
<h1>{{ data_text }}</h1>
<p>GODOT does not create data on its own, instead it relies on project partners that provide chronologicaln and calendrical data.</p>
<p>In this phase of the project the following projects are part of the growing network:</p>
<ul>
    <li><a href="/data/ircyr">Inscriptions of Roman Cyrenaica</a></li>
    <li><a href="/data/tm">Trismegistos: Greek papyri (BGU collection)</a></li>
    <li><a href="/data/edh">Epigraphic Database Heidelberg</a></li>
</ul>

{% endblock %}
