{% extends "base.html" %}

{% block app_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>GODOT Detail View</h1>
    <h3 style="margin-bottom: 2em;"><div id="godot_uri">https://godot.date/id/{{ id }}</div></h3>
        <div class="g_tooltip">
            <button class="btn btn-godot-reset btn-xs" style="margin-left:0; width:200px; margin-top:-3em;" onclick="copy2clipboard()" id="copy_button">
                Copy URI to clipboard
            </button>
        </div>
    <h3>Calendar System</h3>
    <ol>
    {%- for path in paths %}

        {%- if path.label == 'YearReferenceSystem' %}
        <li>{{ path.label }}</li>
        {%- else %}
            <p><strong>{{ path.label }}</strong>:<br />
        {%- endif %}

        {%- for key, value in path.items() %}
            {%- if key != 'label' %}
                {%- if key == 'uri' %}
                    <strong>{{ key }}</strong>: <a href="{{ value }}">{{ value }}</a><br />
                {%- else %}
                    <strong>{{ key }}</strong>: {{ value }}<br />
                {%- endif %}
            {%- endif %}
        {%- endfor %}
        </p>

    {%- endfor %}
    </ol>
    <h3>Attestations</h3>
    {%- for att in attestations %}
    {%- if get_username() == "roueche" or get_username() == "grieshaber" %}
    <p style="margin-bottom:2em"><a href="{{ att.uri }}">{{ att.title }}</a><a href="/id/{{ id }}/{{ att.node_id }}/edit" class="btn btn-godot-reset btn-xs">edit</a> &nbsp; <a href="/id/{{ id }}/{{ att.node_id }}/delete" class="btn btn-godot-reset btn-xs">delete</a><br />{{ att.date_string }}</p>
    {%- else %}
    <p><a href="{{ att.uri }}">{{ att.title }}</a>:<br />{{ att.date_string }}</p>
    {%- endif %}

    {%- endfor%}
    <p>&nbsp;</p>
    <script>
        function copy2clipboard() {
            let textarea = document.createElement('textarea')
            textarea.id = 't'
            textarea.style.height = 0
            document.body.appendChild(textarea)
            textarea.value = document.getElementById("godot_uri").innerText
            let selector = document.querySelector('#t')
            selector.select()
            document.execCommand('copy')
            document.body.removeChild(textarea)
            document.getElementById("copy_button").innerText = "Copied!"
            setTimeout(function() {
                document.getElementById("copy_button").innerText = "Copy URI to clipboard"
            }, 1000);
        }
    </script>
{% endblock %}
