{% extends "base.html" %}

{% block app_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>GODOT Detail View</h1>
    <p>https//godot.date/id/{{ id }}</p>
    <h3>Calendar System</h3>
    {% for path in paths %}
        <p><strong>{{ path.label }}</strong>:<br />
        {% for key, value in path.items() %}
            {% if key != 'label' %}
                {% if key == 'uri' %}
                    <strong>{{ key }}</strong>: <a href="{{ value }}">{{ value }}</a><br />
                {% else %}
                    <strong>{{ key }}</strong>: {{ value }}<br />
                {% endif %}
            {% endif %}
        {% endfor %}
        </p>
    {% endfor %}

    <h3>Attestations</h3>
    {% for att in attestations %}
    <p><a href="{{ att.uri }}">{{ att.title }}</a></p>
    {% endfor%}
<p>&nbsp;</p>
{% endblock %}
