{% extends "base.html" %}
{% block app_content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>{{ data_text }}</h1>
<h3>{{ eponym_data.type + " at " + eponym_data.place_label }}</h3>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" id="godot_uri" name="godot_uri" value="https://godot.date/id/{{ godot_id }}">
        <p>
            {{ form.type.label }}<span style="color:#aa2222">*</span><br>
            {{ form.type(value=eponym_data.type, size=50, style='width:30em;') }}
        </p>
        <p>
            {{ form.place_label.label }}<span style="color:#aa2222">*</span><br>
            {{ form.place_label(value=eponym_data.place_label, size=50, style='width:30em;') }}
        </p>
        <p>
            {{ form.pleiades_uri.label }}<span style="color:#aa2222">*</span><br>
            {{ form.pleiades_uri(value=eponym_data.pleiades_uri, size=50, style='width:30em;') }}
            {% for error in form.pleiades_uri.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.wikidata_uri.label }}<br>
            {{ form.wikidata_uri(value=eponym_data.wikidata_uri, size=50, style='width:30em;') }}
            {% for error in form.wikidata_uri.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(value=eponym_data.description, id="description", cols="100", rows="10", style='') }}
        </p>

        <p>{{ form.submit(class='btn btn-godot btn-sm', type="submit") }} {{ form.reset(class='btn btn-godot-reset btn-sm', type="reset") }}</p>
        <p>&nbsp;</p>
    </form>
<script>var textarea = document.getElementById('description'); textarea.innerHTML = "{{ eponym_data.description }}" </script>
{% endblock %}
