{% extends "base.html" %}

{% block app_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <h1>GODOT Detail View</h1>
    <h3 style="margin-bottom: 2em;"><div id="godot_uri">https://godot.date/id/{{ id }}</div></h3>
        <div class="g_tooltip">
            <button class="btn btn-godot-reset btn-xs" style="margin-left:0; width:200px; margin-top:-3em;" onclick="copy2clipboard()" id="copy_button">
                Copy URI to clipboard
            </button>
        </div>
    <h3>Calendar Date Information</h3>
    <ul>
    {%- for path in paths %}
        {%- if path.label == 'YearReferenceSystem' %}
            {%- for key, value in path.items() %}
                {%- if key == 'type' %}
                    <li>{{ value }}</li>
                {%- endif %}
            {%- endfor %}
        {%- elif path.label == 'CalendarType' %}
            {%- for key, value in path.items() %}
                {%- if key != 'label' %}
                    <li>{{ key }}: {{ value }}</li>
                {%- endif %}
            {%- endfor %}
        {%- elif path.label == 'CalendarPartial' %}
            {%- for key, value in path.items() %}
                {%- if key != 'label' %}
                    {%- if key == 'type' %}
                        {{ value }}:
                    {%- elif key == 'uri' %}
                        <a href="{{ value }}">{{ value }}</a><br />
                    {%- else %}
                        {{ value }}<br/>
                    {%- endif %}
                {%- endif %}
            {%- endfor %}
        {%- elif path.label == 'GODOT' %}
            {%- if path.items()|length > 3 %}
                GODOT Information:<ul>
                {%- for key, value in path.items() %}
                    {%- if key != 'type' and key != 'label' and value != '' %}
                        {%- if key == 'not_before' %}
                            <li>Not Before: {%- if value < "0" %} {{ value[1:] }} {%- else %} {{value}}{%- endif%} {%- if value < "0" %} BC{%- else %} AD{%- endif %}</li>
                        {%- elif key == 'not_after' %}
                            <li>Not After: {%- if value < "0" %} {{ value[1:] }} {%- else %} {{value}}{%- endif%} {%- if value < "0" %} BC{%- else %} AD{%- endif %}</li>
                        {% elif key == 'uri' %}
                            <li>GODOT URI: <a href="/id/{{ value.split('/')[-1] }}">{{ value }}</a></li>
                        {%- elif "part_of_consulate" in key %}<li>Part of Consulate(s): {{ value }}</li>
                        {%- elif "date_is_uncertain" in key %}<li>Date is uncertain</li>
                        {%- elif "time_span_end" in key %}<li>End of Timespan: {{ value }}</li>
                        {%- elif key == "consul_prior_uri" %}<li>Consul Prior URI: <a href="{{ value }}">{{ value }}</a></li>
                        {%- elif key == "consul_posterior_uri" %}<li>Consul Posterior URI: <a href="{{ value }}">{{ value }}</a></li>
                        {%- elif key == "comment_consul_posterior" %}<li>Consul Prior Comment: {{ value }}</li>
                        {%- elif key == "comment_consul_posterior" %}<li>Consul Posterior Comment: {{ value }}</li>
                        {%- elif "uri" in key %}<li>URI: <a href="{{ value }}">{{ value }}</a></li>
                        {%- elif key == "comment_year" %}<li>{{ value }}</li>
                        {% else %}
                            <li>{{ key }}: {{ value }}</li>
                        {%- endif %}
                    {%- endif %}
                {%- endfor %}
                </ul>
            {%- endif %}
        {%- endif %}
    {%- endfor %}
    </ul>
    <h3>Attestations</h3>
    {%- if attestations %}
    {%- for att in attestations %}
        {%- if get_username() == "roueche" or get_username() == "grieshaber" %}
            <p style="margin-bottom:2em"><a href="{{ att.uri }}">{{ att.title }}</a>
                {%- if att.date_category and att.date_category[0] != "<" and att.date_category != "" %}
                    ({{ att.date_category }})
                {%- endif %}
                <a href="/id/{{ id }}/{{ att.node_id }}/edit" class="btn btn-godot-reset btn-xs">edit</a> &nbsp; <a href="/id/{{ id }}/{{ att.node_id }}/delete" class="btn btn-godot-reset btn-xs">delete</a><br />{{ att.date_string }} <br />
                {%- if att.username %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contributor: {{ att.username }} {%- endif %}
                {%- if att.last_update %} (last update: {{ att.last_update }}){%- endif %}
            </p>
        {%- else %}
            <p><a href="{{ att.uri }}">{{ att.title }}</a> {%- if att.date_category and att.date_category[0] != "<" and att.date_category != "" %}
                    ({{ att.date_category }})
                {%- endif %}:<br />{{ att.date_string }}<br />
                {%- if att.username %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contributor: {{ att.username }} {%- endif %}
                {%- if att.last_update %} (last update: {{ att.last_update }}){%- endif %}
            </p>
        {%- endif %}
    {%- endfor%}
    {%- else %}<p>None</p>
    {%- endif %}
    {%- if sub_godot_nodes %}
        <h3>Attested Dates in this Period</h3>
        <p>
        {%- for datum in sub_godot_nodes %}
            <a href="/id/{{datum['godot_uri'].split('/')[-1]}}">{%- for part in datum['date_partials'] %} {{part}} {%- endfor %}</a> ({{ datum['title'] }})<br/>
            {{ datum['date_string'] }}
        </p>
        {%- endfor %}
    {%- endif %}
    <p>&nbsp;</p>
    <script>
        function copy2clipboard() {
            let textarea = document.createElement('textarea')
            textarea.id = 't'
            textarea.style.height = 0
            document.body.appendChild(textarea)
            textarea.value = document.getElementById("godot_uri").innerText
            let selector = document.querySelector('#t')
            selector.select()
            document.execCommand('copy')
            document.body.removeChild(textarea)
            document.getElementById("copy_button").innerText = "Copied!"
            setTimeout(function() {
                document.getElementById("copy_button").innerText = "Copy URI to clipboard"
            }, 1000);
        }
    </script>
{% endblock %}
