{% extends "base.html" %}

{% block app_content %}
<h1>GODOT &ndash; Graph of Dated Objects and Texts</h1>
<p>The aim of this graph database system is to create and maintain a gazetteer of calendar dates in different calendar
    systems, initially those used in Greek and Roman antiquity across the mediterranean area. Like geographical gazetteers this
    authority list can be used to provide stable, unique identifiers (URIs) for each date in any of the calendar systems
    that has been used to refer to an astronomical day in any ancient source, whether literary texts, papyri, ostraca or inscriptions. It
    will serve as a means to search and browse ancient texts by their precise temporal footprint using these URIs in
    digital editions and databases or TEI/EpiDoc XML driven projects.</p>
<p>Where a clear system of conversions between different calendar systems has been established, dates will be converted
    algorithmically into (proleptic) Julian calendar and Julian Day Numbers. As more and more dates from antiquity are
    linked to the GODOT infrastructure, a complex knowledge graph of ancient dated objects and texts evolves.</p>
<p>This project is supported by the <a href="https://mellon.org/">Andrew W. Mellon Foundation</a>.</p>
{% endblock %}
