{% extends "base.html" %}

{% block app_content %}
    <h1>Identify Roman Consulate</h1>
    <h4>(509 BC &ndash; 534 AD)</h4>
    <p>Here you can search for names of Roman consulates: Start typing a name, after three characters a list of names of
        Roman consuls is returned. Choose one and hit return. You can search for one or more name fragments like e.g. "ann sev",
        both fragments atr truncated automatically at the beginning and end. All search strings are case-insensitive.</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.consulship.label }}<br>
            {{ form.consulship(size=40, id="autosearch") }}
        </p>
        <p>{{ form.submit(class='btn btn-godot btn-sm', type="submit") }} {{ form.reset(class='btn btn-godot-reset btn-sm', type="reset") }}</p>
        <p>&nbsp;</p>
    </form>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{url_for('static', filename='consulship_search_autocomplete.js')}}"></script>
{% endblock %}