{% extends "base.html" %}

{% block app_content %}
        <h1>GODOT &ndash; Tools</h1>
        <h3>OpenRefine Reconciliation Services:</h3>
        <h3>Roman Consulships</h3>
<p>For matching your data against ancient Roman consulates in the GODOT graph you can use the GODOT OpenRefine Reconciliation Service, the URL for this API is: <a href="/api/openrefine/reconcile">https://godot.date/api/openrefine/reconcile</a>.
Results (GODOT URIs) are ordered by score.</p>
        <p style="margin-bottom:2em"><img style="border: 1px solid #ddd" src="/static/openRefine_Roman_Senatores.png"></p>
{% endblock %}
