{% extends "base.html" %}
{% block app_content %}
<h1>GODOT Workshop: Non-Gregorian Calendar Dates in Digitial Humanities</h1>
<p>The first GODOT workshop about non-Gregorian dates in digital environments will be held in Heidelberg on 26. and 27.
    November 2018 at the <a href="https://www.hadw-bw.de/">Heidelberg Academy of Sciences and Humanities</a>.</p>

<h3>Preliminary Programme:</h3>
<table class="table-condensed" style="margin-bottom:3em">
<tbody><tr><td colspan="3" style="background-color:#d8d1cc">Monday 26. November 2018</td></tr>
<tr style="background-color:#eee"><td width="100px">10.30 - 11.00</td><td colspan="2">Registration and Morning Coffee	</td></tr>
<tr><td>11.00 - 11.05</td><td width="60%">Welcome by HAdW</td><td>D. Svoboda-Baas (HAdW)</td></tr>
<tr><td>11.05 - 11.10</td><td>Introduction / Organizational Information</td><td>F. Grieshaber (HAdW; Heidelberg University)</td></tr>
<tr><td>11.10 - 11.45</td><td>Presentation GODOT</td><td>F. Grieshaber (HAdW; Heidelberg University)</td></tr>
<tr><td>11.45 - 12.15</td><td>Using GODOT with Inscriptions: The Case of Cyrenaica</td><td>C. Roueché (King’s College London)</td></tr>
<tr><td>12.15 - 13.00</td><td>NER workflow for extracting calendar dates from Greek papyrological texts</td><td>M. Depauw / H. Verreth (KU Leuven)</td></tr>
<tr style="background-color:#eee"><td>13.00 - 13.30</td><td>Lunch Break</td><td></td></tr>
<tr><td>13.30 - 14.00</td><td>Birth, death, floruit, attested: linking and sharing dates in prosopographical data</td><td>G. Bodard (SAS / University of London)</td></tr>
<tr><td>14.00 - 14.30</td><td>Places & Traces: Space and Time in Pelagios and the Linked Places Data Model</td><td>R. Simon (AIT Vienna)</td></tr>
<tr><td>14.30 - 15.00</td><td>Cultures of Knowledge: EM Places and EM Dates</td><td>A. Bosse (University of Oxford)</td></tr>
<tr><td>15.00 - 15.30</td><td>Chronological data in "Documenta Nepalica"</td><td>C. Zotter (HAdW)</td></tr>
<tr style="background-color:#eee"><td>15.30 - 16.00</td><td colspan="2">Coffee break</td></tr>
<tr><td>16.00 - 16.30</td><td>Dating systems and Chronology in Late Antique Chronicles: Malalas Chronography as a special case</td><td>O. Gengler (HAdW; Tübingen)</td></tr>
<tr><td>16.30 - 17.00</td><td>Egyptian Calendar dates in "Thesaurus Linguae Aegyptiae". Metadata and Lexical Entities</td><td>L. Popko (SAW Leipzig)</td></tr>
<tr><td>17.00 - 17.30</td><td>EpiDat - Database and APIs</td><td>T. Kollatz (Digitale Akademie Mainz; Steinheim-Institut)</td></tr>
<tr style="background-color:#eee"><td>19.00</td><td colspan="2">Social Dinner</td></tr>
</tbody></table>

<table class="table-condensed" style="margin-bottom:2em">
<tbody><tr><td colspan="3" style="background-color:#d8d1cc">Tuesday 27. November 2018</td></tr>
<tr style="background-color:#eee"><td width="100px">09.00 - 09.30</td><td colspan="2">Morning Coffee</td></tr>
<tr><td>09.30 - 10.00</td><td width="60%">MOCCI - database &amp; dates in cuneiform texts</td><td>N. Morello (LMU München)</td></tr>
<tr><td>10.00 - 10.30</td><td>Chronological data on ancient coins and related numismatic LOD</td><td>K. Dahmen (SMPK; Münzkabinett Berlin)</td></tr>
<tr style="background-color:#eee"><td>10.30 - 10.45</td><td colspan="2">Short Coffee Break</td></tr>
<tr><td>10.45 - 11.15</td><td>Of Graphs and Dates: Modelling and Processing Maya Calendar Dates in the Project "Text Database and Dictionary of Classic Mayan"</td><td>C. Prager / M. Brodhun / U. Sikora (AWK Bonn / SUB Göttingen)</td></tr>
<tr><td>11.15 - 11.45</td><td>Dated Documents in the Arabic Papyri Database (APD)</td><td>D. Potthast (LMU München)</td></tr>
<tr style="background-color:#eee"><td>11.45 - 12.30</td><td>Coffee break/Sandwiches</td><td></td></tr>
<tr><td>12.30 - 14.00</td><td>Round Table Discussion</td><td>Depauw/Grieshaber/Rouché/Verreth</td></tr>
</tbody></table>


{% endblock %}
